html
    head
        //- script(src='https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.7.31/dist/flexsearch.bundle.js' defer)
        script(src='script.js' defer)
        style 
            include style.css
    body
        table
            tr
                input
            each item in items
                tr(item=item.mediaId)
                    each media in item.media
                            td= media